/*default elements*/
body {
    background: black;
    color: white;
}
/*end of default elements*/



/*buttons*/
.btn-primary{
    background-color: #b9a0e3;
    color: #000080;
    border-color: #b9a0e3;
}

.btn-primary:hover {
    color: lightblue;
    background-color: mediumpurple;
    border-color: mediumpurple;
}

.btn-secondary {
    background-color: #000080;
    color: #b9a0e3;
    border-color: #000080;
}

.btn-secondary:hover {
    color: lightblue;
    background-color: #19195a;
    border-color: #19195a;
}

.btn-danger {
    color: #19195a;
    background-color: hotpink;
}

.btn-danger:hover {
    color: white;
    background-color: #da3544;
    border-color: #da3544;
}

.btnprimary {
    color: mediumpurple;
}

.btnprimary:hover {
    color: lightblue;
}

.btndanger {
    color: hotpink;
}

.btndanger:hover {
    color: red;
}
/*end of buttons*/



/*input elements*/
.input-box {
    /*any input field*/
    background-color: #b79fed;
}

.input {
    /*add-event input boxes*/
    background-color: #b79fed;
    color: black;
}

.input:focus {
    background-color: mediumpurple;
    color: #19195a;
}
/*end of input elements*/



/*table styling*/
.table thead {
    background-color: #b9a0e3; /*background color for the head of the table*/
    color: #19195a;
}

.table tbody td, .table thead th {
    border: 1px solid #434343; /*table lines*/
}
/*end of table styling*/



/*justified text*/
.justified-text {
    text-align: justify;
}
/*end of justified text*/